<div>
    <div class="fluct-it-cart__empty">
        <h2>{{ 'cart.mini_cart.empty' | t }}</h2>

        <a href="/" class="fluct-it__cart-empty-btn">
            {{ 'fluctit.cart.empty_cart.continue_shopping' | t }}
        </a>
    </div>
</div>

<style>
    .fluct-it-cart__empty {
        display:flex;
        height: 100vh;
        width:100%;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:20px;
    }

    .fluct-it__cart-empty-btn {
        border-radius:100px;
        background: #4AB9CB;
        color:#fff;
        padding: 16px 28px;
        display:flex;
        justify-content: center;
        text-transform:uppercase;
        font-weight:600;
    }

    .fluct-it__cart-empty-btn:hover {
        background: #288191;
        color:#fff;
    }
</style>