
<div class="fluct-it_upsell-container"> 
    <h2>Maak je look compleet</h2>
    
    <div x-data class="upsell-swiper">
        <div class="swiper-wrapper" x-init='$nextTick(() => initUpsellSwiper()); console.log($store.ajCart.allProducts)'>
            <template x-for="(item, index) in $store.ajCart.allProducts" :key="item.id">
                <div class="fluct-it__cart-upsell swiper-slide">
                  <a :href="'/products/' + item.handle">
                    <img 
                        :src="item.images[0].src" 
                        :alt="item.featured_image ? item.featured_image.alt : item.title" 
                        class="fluct-it__cart-upsell-image"
                    >
                    </a>
                        <span class="fluct-it__cart-upsell-title" x-text="item.title"></span>
                        <div>
                            <span class="fluct-it__cart-upsell-price" x-text="item.variants[0].price"></span>
                            <s class="fluct-it__cart-upsell-compare-price"> <span x-show="item.variants[0].compare_at_price"   x-text="item.variants[0].compare_at_price"></span></s>
                        </div>
                        <a class="fluct-it_upsell-button">In winkelwagen</a>
                    </div>
                </template>
            </div>
            <div class="swiper-button-prev">{% render 'cart-arrow' %}</div>
            <div class="swiper-button-next">{% render 'cart-arrow' %}</div>
        </div>
    </div>

<style>




    .fluct-it_upsell-container {
        display:flex;
        flex-direction:column;
        gap:16px;
        padding:20px;
    }
    .upsell-swiper {
        position: relative;
    }

    .fluct-it__cart-upsell {
        display:flex;
        flex-direction:column;
        gap:4px;
    }

    .fluct-it__cart-upsell-image {
        width:140px;
        height:140px;
    }

    .fluct-it__cart-upsell-title .fluct-it__cart-upsell-price {
        font-weight:400;
        color:#000;
    }

    .fluct-it__cart-upsell-title {
        font-size:12px!important;
        min-height:41px;
    }

    .fluct-it__cart-upsell-compare-price  {
        color: #EC0101;
    }

    .upsell-swiper {
        overflow-x: hidden;
    }

    .fluct-it_upsell-button {
        color: #CFCFCF;
        width:100%;
        padding: 8px 0;
        border: 2px #CFCFCF solid;
        border-radius:100px;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:pointer;
        margin-top:12px;
    }

    .fluct-it_upsell-button:hover {
        color: #4AB9CB;
        border: 2px #4AB9CB solid;

        transition: color border ease .2s;
    }

 .swiper-button-next::after,
.swiper-button-prev::after {
  opacity:0 !important;
  content: "" !important;
}

.swiper-button-prev {
    transform: rotate(180deg)
}

.swiper-button-prev,
.swiper-button-next {
    width:32px;
    height:32px;
    border-radius:50%;
    background:#C9EDF3;
    min-width:32px;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 10px;
  height: 10px;
  display: block;
  margin: auto;
}



</style>

<script>

    let swiper;

    function initUpsellSwiper() {
        {% comment %} console.log("Init swiper")
      if (swiper != null) {
        swiper.destroy(true, true);
      } {% endcomment %}

    //  if (window.innerWidth <= 1300) {
        swiper = new Swiper('.upsell-swiper', {
          slidesPerView: 2.5,
          spaceBetween: 16,
          allowTouchMove: false,
        navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
      }
    // }

    initUpsellSwiper();

    window.addEventListener('resize', initUpsellSwiper);

</script>