<div
    x-data="ajCart"
  x-show="cart.item_count > 0" 
  class="cart-summary"
>
  <div class="cart-summary__row" 
       x-show="cart.total_compare_price > cart.total_price">
    <div class="cart-summary__label cart-summary__label--discount">
      discount
    </div>
    <div class="cart-summary__value cart-summary__value--discount"
         x-text="'€' + ((cart.total_price - cart.totalComparePrice) / 100 * -1).toFixed(2)">
    </div>
  </div>

  <div class="cart-summary__row">
    <div class="cart-summary__label cart-summary__label--total">
      total
    </div>
    <div class="cart-summary__value cart-summary__value--total"
         x-text="'€' + totalComparePrice">
    </div>
    <div class="cart-summary__value cart-summary__value--total"
         x-text="'€' + (cart.total_price / 100).toFixed(2)">
    </div>
  </div>

  <a href="/checkout" class="cart-summary__checkout-btn">
    continue
  </a>
</div>



<style>
.cart-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 16px;
}

@media (min-width: 640px) {
  .cart-summary {
    padding: 32px;
  }
}

.cart-summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgba(64,64,64,0.7);
}

.cart-summary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-summary__label {
  text-transform: uppercase;
  font-weight: 600;
}

.cart-summary__label--discount {
  font-size: 1.25rem;
  color: #1E1E1E;
}

.cart-summary__value--discount {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(156,156,156);
}

.cart-summary__label--total {
  font-size: 1.75rem;
  color: #1E1E1E;
}

.cart-summary__value--total {
  font-size: 1.75rem;
  font-weight: 600;
  color: #1E1E1E;
}

.cart-summary__checkout-btn {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #4AB9CB;
  border-radius: 100px!important;
  color: #1E1E1E;
  padding: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.cart-summary__checkout-btn:hover {
  background: #222;
}
</style>