<div
    x-data="$store.ajCart.cart"
  x-show="$store.ajCart.cart.item_count > 0" 
    class="fluct-it-cart__footer">
  <div class="">
 
  </div>

  <div class="fluct-it-cart__footer-total-container">
    <div class="fluct-it-cart__footer-total-title">
      {{ 'fluctit.cart.cart_footer.estimated_total' | t }}
    </div>

    <div class="fluct-it-cart__footer-total">
        <div class="fluct-it-cart__footer-total-compare"  x-show="$store.ajCart.totalComparePrice"
             x-text="'€' + $store.ajCart.totalComparePrice.toFixed(2)">
        </div>
        <div class="fluct-it-cart__footer-total-price"
             x-text="'€' + ($store.ajCart.cart.total_price / 100).toFixed(2)">
        </div>
    </div>

</div>

<button href="/checkout" class="fluct-it-cart__footer-btn" :available="$store.ajCart.setLoader" :class="$store.ajCart.setLoader ? 'fluct-it-cart__disabled' : ''">
  {{ 'fluctit.cart.cart_footer.secure_checkout' | t }}
</button>

<div class="fluct-it-cart__payment-icons">
  {%- for type in shop.enabled_payment_types -%}
    {{ type | payment_type_svg_tag: class: 'payment-icon' }}
  {%- endfor -%}
</div>

</div>



<style>
    .fluct-it-cart__footer{
        padding: 8px 20px;
        width: 100%;
        border-top: 1px solid #eee;
        position:sticky;
        bottom:0;
        background:#fff;
        margin-top:auto;
    }

    .fluct-it-cart__payment-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 16px 0;
    }

    .payment-icon {
        height: 18px;
        width: auto;
    }

    @media screen and (max-width: 768px) {
        .payment-icon {
        height: 12px;
        width: auto;
    }

       .fluct-it-cart__footer{
        padding: 4px 20px;
    }
    
    }

    
    .fluct-it-cart__footer-btn {
        border-radius:100px;
        width:100%!important;
        background: #4AB9CB;
        color:#fff;
        padding: 16px 0;
        display:flex;
        justify-content: center;
        text-transform:uppercase;
        font-weight:600;
    }

    .fluct-it-cart__disabled {
        background-color:#C7C7C7;
    }

    .fluct-it-cart__footer-btn:hover {
        background: #288191;
        color:#fff;
    }

    .fluct-it-cart__footer-total-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:16px;
        align-items: center;
        margin-bottom:4px;

    }

    .fluct-it-cart__footer-total-title {
        font-weight: 600;
        color:#000
    }

    .fluct-it-cart__footer-total {
        display: flex;
        gap: 12px;
        padding: 4px 0;
        color: #000;
    }

    .fluct-it-cart__footer-total-compare {
        font-size: 16px;
        text-decoration: line-through;
        opacity:0.5;
    }

    .fluct-it-cart__footer-total-price {
        font-size: 16px;
        font-weight: 600;
    }
</style>