{%- assign faq = questions.value -%}
{% assign question_keys = "question,question1,question2,question3,question4" | split: "," %}
{% assign answer_keys = "answer,answer1,answer2,answer3,answer4" | split: "," %}

<div class="flucit-faq-container">
  {% for i in (0..4) %}
    {% assign q = question_keys[i] %}
    {% assign a = answer_keys[i] %}
    
    {% if faq[q] and faq[a] %}
      <div 
        x-data="{ open: {{ forloop.first | json }}, height: 0 }"
        x-init="height = $refs.faq.scrollHeight"
        class="fluctit-faq-item{% if i == 4 %} last{% endif %}" 
        x-cloak 
        @click="open = !open"
      >
        <div class="fluctit-faq-title-container">
          <div class="fluctit-faq-title">{{ faq[q] | metafield_tag }}</div>
          <img
            src="{{ 'close-icon.svg' | asset_url }}"
            :style="open ? 'transform: rotate(45deg); transition: transform 0.3s ease' : 'transform: rotate(0deg); transition: transform 0.3s ease'"
            alt="close icon"
            width="auto"
            height="auto"
          />
        </div>
        <div 
          :style="open 
            ? 'transition: opacity 0.3s ease-in-out, max-height 0.3s ease; opacity:100; max-height: ' + height + 'px' 
            : 'transition: opacity 0.3s ease-in-out, max-height 0.3s ease; max-height: 0; overflow:hidden; opacity:0;'">
          <div class="fluctit-faq-answer" x-ref="faq">
            {{ faq[a] | metafield_tag }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>

<style>
@media screen and (min-width:768px) {
    .flucit-faq-container {
        width: 85%;
    }
}

.fluctit-faq-item {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    border-top: 1px solid rgba(30, 30, 30, 0.1);
    padding:12px 0;
    cursor:pointer;
}

.fluctit-faq-item.last {
    border-bottom: 1px solid rgba(30, 30, 30, 0.1);
    
}

.fluctit-faq-title {
    font-size: 14px;
    color: #1E1E1E;
    text-transform: uppercase;
}

.fluctit-faq-title-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.fluctit-faq-answer p {
    margin:0;
    padding: 8px 0 4px 0;
    color: #1E1E1E;
}
</style>