<div class="fluct-it-free-gift__sample-container">
    <span class="fluct-it-upsell-title">Kies je 2 gratis samples</span>
    <p>Hello</p>
</div>

<style>
    .fluct-it-free-gift__sample-container {
        background:#BDE0E5;
        width:100%;
        padding:20px;
    }
</style>