

<div class="fluct-it-drawer__header" x-data x-show="$store.ajCart.cart.item_count >= 0">
  <span>{{ 'cart.mini_cart.title' | t }}</span>
  <span class="fluct-it-drawer__close" @click="$store.ajCart.closeCartDrawer()" aria-label="{{ 'cart.mini_cart.close_cart' | t }}">
    {% render 'close-icon'%}
  </span>
</div>

<style>
.fluct-it-drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 12px 20px;
  position: relative;
}

.fluct-it-drawer__header span:first-child {
  font-size: 24px;
  text-align: center;
  flex: 1; 
}

.fluct-it-drawer__close {
  cursor:pointer;
}

.fluct-it-drawer__close svg path {
  fill: #1e1e1e !important;
   cursor:pointer;
}
</style>