<!-- Mini Cart Header Snippet -->
<style>
.t4s-drawer__header {
  border-bottom: none !important;
}
</style>
<div class="t4s-drawer__header">
  <span>{{ 'cart.mini_cart.title' | t }}</span>
  <button class="t4s-drawer__close" data-drawer-close aria-label="{{ 'cart.mini_cart.close_cart' | t }}">
    <svg class="t4s-iconsvg-close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg>
  </button>
</div>


