<div >
      <div style='width:100%; display:flex; justify-content: center; align-items:center; gap:4px;'>
        {% render 'pi-ideal' %}
        {% render "pi-paypall" %}
        {% render "pi-klarna" %}
        {% comment %}{% render 'pi-bancontact' %}{% endcomment %}
        {% render "pi-amex" %}
        {% render "pi-master" %}
        {% render "pi-mastercard" %}
        {% render "pi-apple" %}
        {% render "pi-googlepay" %}

          {% render 'pi-visa' %}
          {% comment %} {% render 'pi-in3' %} {% endcomment %}
          {% comment %} {% render 'pi-spraypay' %} {% endcomment %}
        {% comment %} {% render "pi-sofort" %} {% endcomment %}
        {% comment %} {% render "pi-giropay" %} {% endcomment %}
      </div>
  </div>

  