
<div class="fluct-it__mini-cart">
  {% render 'mini-cart-header' %}
  {% render 'mini-cart-shipping-threshold' %}

  <div class="fluct-it__mini-cart-content">

      <div x-show="$store.ajCart.cart.item_count === 0">
        {%-  render 'cart-empty-button' -%}
      </div>


    <div x-show="$store.ajCart.cart.item_count > 0">
      {%- render 'cart-item-simple' -%}
      {% render 'cart-discount-block' %}
      {% render 'cart-products-section' %}
    </div>
  </div>
  
  {%-  render 'cart-footer' -%}
</div>
            

           
<style>
  .fluct-it__mini-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    max-height: 100vh;
  }

  .fluct-it__mini-cart-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom:20px; 
  }


</style>



     
 

